@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* @media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.wrapper {
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.header {
    width: 100%;
    height: 40px;
    background-color: rgb(18, 57, 80);
    display: flex;
    padding: 0 0.3rem;
    align-items: center;
}

.top-nav {
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li:hover {
    background-color: #4d0eb1;
}

.logo {
    width: 35px;
    color: white;
}

.logo img {
    width: 25px;
    color: white;
}

.hamburger button {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
}

/* .pusto {
    display: flex;
    background-color: #fff;
    position: absolute;
} */

.home {
    margin: 0;
    padding: 0;
    background: none;
}

.popup {
    display: none;
}

.navbar__wrap .menu {
    display: flex;
}

.main {
    padding: 2rem;
    display: flex;
    min-height: 500px;
}

.toby {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toby img {
    height: 300px;
    transition: transform 200ms linear;
}

.toby img:hover {
    transform: scale(1.2);
}

.container {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container p {
    text-align: center;
    max-width: 300px;
}

/* .container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
} */

.button {
    width: 300px;
    background: #2a85cf;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Montserrat" sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;

    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #4d0eb1;
}

.button_2 {
    display: inline-block;
    background: #2a85cf;
    color: #fff;
    padding: 23px;
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 90px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Montserrat" sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.button_2:hover {
    background-color: #4d0eb1;
}

.frame {
    border: 5px solid #2a85cf;
    padding: 20px;
    width: 620px;
    border-radius: 15px;
    margin-top: 400px;
    margin-left: 130px;
}

.info {
    font-size: 25px;
}

.row-one {
    background: lightblue;
}

.theme {
    display: inline-block;
    background: #2a85cf;
    color: #fff;
    padding: 15px;
    margin-left: 80px;
    padding-right: 15px;
    margin-top: 150px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.footer {
    padding: 30px 0;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 57, 80);
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    .top-nav {
        position: relative;
    }

    .menu {
        position: absolute;
        padding: 1rem;
        top: 20px;
        right: calc(-22px - 0.3rem);
        background-color: rgb(18, 57, 80);
        width: 300px;
        flex-direction: column;
        gap: 0.2rem;
        transform-origin: top;
        transition: all 300ms ease;
    }

    .menu li {
        padding: 0 0.2rem;
    }

    .menu.hide {
        opacity: 0;
        transform: scaleY(0);
    }

    .menu.show {
        opacity: 1;
        transform: scaleY(1);
    }
}

@media only screen and (min-width: 760px) {
    .hamburger {
        cursor: pointer;
        display: none;
    }
}

/* @media only screen and (min-width: 400px) and (max-width: 720px) {
    .wrapper {
        margin-left: -500px;
        height: 1038px;
    }

    .menu {
        margin-top: -10px;
        height: 64px;
        width: 100%;
        transition: 0.3s;
    }

    .menu:active {
        left: 0;
    }

    .menu_item {
        font-size: 12px;
    }

    .menu_item {
        margin: 1.8rem 0;
    }

    .logo {
        z-index: 10;
        margin-left: -1px;
        width: 60px;
        height: 56px;
        margin-top: -2px;
    }

    p {
        font-size: 15px;
    }

    nav .menu li a {
        color: #fff;
        font-size: 9px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    h4 {
        margin-top: 180px;
        font-size: 25px;
        margin-left: 310px;
        column-count: 2;
    }

    .leftimg {
        margin-left: -400px;
    }

    .text {
        margin-top: 7px;
        margin-left: 10px;
        font-size: 15px;
    }

    .fxo-widget-iframe {
        background-color: rgba(28, 28, 28, 0);
    }

    a.button {
        margin-top: 70px;
        margin-left: 20px;
    }

    .footer {
        top: 1038px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 1400px) {
    .wrapper {
        margin-left: -500px;
        height: 1035px;
    }

    .menu {
        margin-top: -10px;
        height: 64px;
        width: 100%;
        transition: 0.3s;
    }

    .menu:active {
        left: 0;
    }

    .menu_item {
        margin: 1.8rem 0;
        margin-left: 100px;
    }

    .menu_link:last-child {
        margin-right: -8px;
    }

    .logo {
        z-index: 10;
        margin-left: -1px;
        width: 60px;
        height: 56px;
        margin-top: -2px;
    }

    p {
        font-size: 15px;
    }

    nav .menu li a {
        color: #fff;
        font-size: 10px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    h4 {
        margin-top: 180px;
        font-size: 25px;
        margin-left: 310px;
        column-count: 2;
    }

    .leftimg {
        margin-left: -400px;
    }

    .text {
        margin-top: 7px;
        margin-left: 10px;
        font-size: 15px;
    }

    a.button {
        margin-top: 70px;
        margin-left: 20px;
    }

    .footer {
        top: 1038px;
    }
} */
